body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-image: url("");
  background-color: #000000;
  background-size: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: auto;
  background: #2b2b2b;
  width: fit-content;
}

.page-subtitle {
  color: #ffffff;
  margin: 5px auto;
}

.page-logo {
  width: 200px;
  margin: 20px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.gabs-github {
  width: 35px;
  position: absolute;
  top: 10px;
  left: 10px;
}

input {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}

label {
  color: white;
}

button {
  margin-top: 12px;
  padding: 8px 17px;
  border-radius: 10px;
  background: #4201FF;
  border: none;
  display: inline-block;
  color: white;
  font-size: 18px;
  text-decoration: none;
  border-radius: 1px;


}

h2 {
  color: #ffffff;
  font-size: 30px;
  background: #230090;
  width: fit-content;
  margin: 40px auto;
}
